 <mat-sidenav-container fullscreen
  [ngClass]="themeName">
<mat-toolbar color="primary"
class="fixed-header"
role="toolbar">
<h3 [routerLink]="['/movies']">Movies</h3>
<div class="nav-right">
<button mat-icon-button
[matMenuTriggerFor]="colorPicker"
role="button"
aria-label="theme change">
<mat-icon>format_color_fill</mat-icon>
</button>
<mat-menu #colorPicker="matMenu"
role="menu">
<mat-grid-list cols="2"
  rowHeight="1:1"
  gutterSize="10px">
<mat-grid-tile *ngFor="let tile of colors"
    (click)="changeTheme(tile.color)">
<div class="circle"
[style.background]="tile.color"></div>
</mat-grid-tile>
</mat-grid-list>
</mat-menu>
</div>
</mat-toolbar>
<router-outlet></router-outlet>
</mat-sidenav-container>